@use '../abstracts/variables';
footer{
    background-color: variables.$clr-green;
    padding: 2rem;
    width: 100%;
    ul{
        list-style-type: none;
        li{
            margin: 1rem 1rem;
        }
    }
}