@use '../abstracts/variables';
@use '../abstracts/media-queries';

.navbar {
    background-color: variables.$clr-green;
    color: variables.$clr-white;
    border-radius: 3rem;
    padding: 0rem 0.2rem 0 2rem;
    margin-top: 2.5rem;
}

.search-bar {
    border-radius: 3rem;

    width: 35rem;
}

.nav-link {
    color: variables.$clr-white;
    display: block;

    &:hover {
        color: variables.$clr-white;
    }
}

.nav-item {
    margin: 0 1rem 0 1rem;
    padding: 0.8rem;
    text-align: center;
    width: 8rem;
    z-index: 1;
}

/*.cuadro-seleccion {
    position: absolute;
    width: 8rem;
    height: 100%;
    top: 0;
    left: 14.7rem;
    border-radius: 0 0 2rem 2rem;
    background-color: variables.$clr-wine;
    z-index: 0;
    transition: 0.5s;
}*/

.navbar-nav .animation{
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    background-color: variables.$clr-wine;
    border-radius: 0 0 2rem 2rem;
    transition: all .5s ease 0s;
}

.navbar-nav .nav-item:nth-child(1){
    width: 100px;
}

.navbar-nav .start-home, .nav-item:nth-child(1):hover~.animation{
    width: 100px;
    left: 146px;
}

.navbar-nav .nav-item:nth-child(2){
    width: 100px;
}

.navbar-nav .nav-item:nth-child(2):hover~.animation{
    width: 100px;
    left: 264px;
}

.navbar-nav .nav-item::nth-child(3){
    width: 100px;
}

.navbar-nav .nav-item:nth-child(3):hover~.animation{
    width: 100px;
    left: 375px;
}

/*
left: 150px;
left: 253px;
left: 353px;
*/