.curve{
    background-image: url(../images/curva.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: scroll;
    background-position-y: 8rem;
    background-size: contain;
}