@use '../abstracts/media-queries';

.curve {
    position: relative;
    height: 60rem;

    background-image: url(../..//images/curva_home.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;



    @include media-queries.respond-to(media-queries.$small-desktop) {
        background-position-y: 8rem;
    }

    @include media-queries.respond-to(media-queries.$large-desktop) {
        background-position-y: 5rem;
    }

    @include media-queries.respond-to(media-queries.$tablet-portrait) {
        background-position-y: 18rem;
        background-position-x: -5rem;
    }

    @include media-queries.respond-to(media-queries.$phone) {
        background-position-x: -40rem;
    }
}

// .opciones {
//     display: none;
// }

.filtro-btn {
    margin-bottom: 5px;
}