@use '../abstracts/variables';
@use '../abstracts/mixins';

.button-green {
    @include mixins.button(variables.$clr-green, variables.$clr-white, false, true);
}

.button-green-rouded{

    @include mixins.button(variables.$clr-green, variables.$clr-white, true, false);
}

.button-white-rouded{
    @include mixins.button(variables.$clr-white, variables.$clr-black, true, true);
    
    display: inline-block;
    text-align: center;
    padding: 0.69rem;
    border: solid white .25rem !important;
}

