@use '../abstracts/variables';
@use '../abstracts/mixins';

.button-green {
    @include mixins.button(variables.$clr-green, variables.$clr-white, false, true);
    font-size: variables.$fs-sm;
    min-width: 12rem;
    padding: auto;
    border: none;
}

.button-green-sm{
    @include mixins.button(variables.$clr-green, variables.$clr-white, false, true);
    font-size: variables.$fs-xxxsm;
}

.button-green-rouded{
    @include mixins.button(variables.$clr-green, variables.$clr-white, true, false);
}

.button-white-rouded{
    display: inline-block;
    text-align: center;
    padding: 0.69rem;
    @include mixins.button(variables.$clr-white, variables.$clr-wine, true, true);
    border: solid white .25rem;
}

.button-border {
    border: none;
    box-sizing: border-box;
    padding: 0 1.5rem;
    
    min-height: 4rem;
    transition: border-color 0.3s ease-out;
  }
  
  .button-border:hover {
    border: 0.25rem solid white;
  }

.card-btn-green{
    @include mixins.button(variables.$clr-green, variables.$clr-white, true, true);
}