@use '../abstracts/variables';
.bg-wine{
    background-color: variables.$clr-wine;
}

.bg-white{
    background-color: variables.$clr-white;
}

.text-green{
    color: variables.$clr-green-light;
}

.text-wine{
    color: variables.$clr-wine;
}

.text-white{
    color: variables.$clr-white;
}