@use '../abstracts/variables';
.bg-wine{
    background-color: variables.$clr-wine;
}

.text-green{
    color: variables.$clr-green;
}

.text-wine{
    color: variables.$clr-wine;
}

.text-white{
    color: variables.$clr-white;
}