@use '../abstracts/variables';

@mixin button($clr-bg, $clr, $rouded, $animate) {
    border-radius: 2rem;
    padding: 0.6rem 2rem;
    position: relative;
    text-decoration: none;
    border: none;
    background-color: $clr-bg;
    color: $clr;

    @if $rouded == true {
        min-width: 4rem;
        min-height: 4rem;
        max-width: 4rem;
        max-height: 4rem;
        padding: 0;
    }

    @if $animate == true{
        overflow: hidden;
        z-index: 1;

        &:hover{
            color: variables.$clr-white;
        }

        &::before{
            background-color: variables.$clr-wine;
            border-radius: 0 0 100% 100%;
            height: 200%;
            content: "";
            left: 0;
            position: absolute;
            top: -200%;
            transition: all 0.6s ease;
            width: 100%;
            z-index: -1;
        }

        &:hover::before{
            top: 0;
            //background-color: variables.$clr-dark-wine;
        }

        &:active {
            background-color: variables.$clr-dark-wine;
            background-color: variables.$clr-white;
            content: "";
            transform: scale(0.95);
        }
    }
}